# Fastapi
fastapi/__pycache__/
fastapi/**/__pycache__/
fastapi/*.py[cod]
fastapi/*$py.class
fastapi/.pytest_cache/
fastapi/.coverage
fastapi/htmlcov/
fastapi/.env
fastapi/venv/
fastapi/.venv/

# DBT
dbt/logs/
dbt/target/
dbt/dbt_packages/
dbt/dbt_modules/
dbt/.user.yml
dbt/profiles.yml

# Ingestion
ingestion/launch-ingestion-prod.sh
ingestion/inputs/noise/AGGLO_044
ingestion/inputs/noise/INFRA_044
ingestion/inputs/soundclassification/AGGLO_044

# Virtual environments
.venv/
venv/
fastapi-venv/
dbt-venv/
ingestion-venv/
ENV/
env/

# FastAPI / Uvicorn logs
fastapi/*.log

# VS Code / PyCharm / IDEs
.vscode/
.idea/

# dotenv
**/.env
**/.env.*
!**/.env.example

# Migrations
**/alembic/versions/

# Byte-compiled files
*.pyc
*.pyo

# Tests & coverage
htmlcov/
.coverage
coverage.xml
.cache
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Profiling
.prof

# Docker
*.pid
*.bak
*.swp
docker-compose.override.yml

# Local database or dev files
*.db
*.sqlite3
