AWS_ACCESS_KEY_ID=your_key
AWS_SECRET_ACCESS_KEY=your_secret
AWS_DEFAULT_REGION=eu-west-3
AWS_S3_BUCKET=diagbruit
BOX_CLIENT_ID=
BOX_CLIENT_SECRET=
BOX_JWT_KEY_ID=
BOX_PRIVATE_KEY=
BOX_PRIVATE_KEY_PASSPHRASE=
BOX_USER_ID=