body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Responsive zoom for small screens */
@media (min-width: 768px) and (max-width: 1280px) {
  body {
    zoom: 0.7;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
